header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(46, 94, 45, 0.71);
}

.logo {
    margin-right: 30px;
}

.list {
    flex-grow: 1;
}

.list ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
}

.list li {
    margin-right: 50px;
}

.list li:last-child {
    margin-right: 0;
}

.list a {
    padding: 8px 10px;
    color: #000;
    text-decoration: none;
}

.list a, 
.list .active {
    display: block;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: .27em;
}

.list .active {
    color: #fff;
    background-color: #14df2f;
    border-radius: 8px;
}

.text p{
    font-size: 30px;
    font-family: Big Shoulders Display, 'Times New Roman', Times, serif;
    margin-right: 70px;
    color: black;
}