body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 300px;
    background-color: rgba(46, 94, 45, 0.71);
}

#logo {
    padding-top: 55px;
    display: inline-block;
    margin: 0 67px 0 109px;
}

.circle {
    width: 196px;
    height: 196px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;

}

#title {
    display: inline-block;
    width: 40%;
}

.burger > div{
    border-bottom: 10px solid white;
    margin-top: 1rem;
    border-radius: 7px;
    width: 158px;
    display: inline-block;
    padding-
}

.burger {
    display: inline-block;
    width: 10%;
}