body {
    width: 1920px;   
    background: #201636;
}

header {
    width: 1629px;
    height: 831px;
    position: relative;
}

#first_picture {
    width: 1229px;
    height: 831px;
    display: inline-block;
    margin: 238px 0 0 61px;
    position: absolute;
}

#couching {
    width: 670px;
    height: 113px;
    display: inline-block;
    margin-top: 431px;
    margin-left: 934px;
    position: absolute;
}

#couching h1 {
    font-family: var(--font-roboto);
    font-style: normal;
    font-size: 18px;
    color: white;
    line-height: 22px;
    text-transform: uppercase;
}

:root {
    --font-roboto: 'Montserrat', sans-serif;
}

#text {
    width: 682px;
    height: 79px;
    display: inline-block;
    margin-top: 539px;
    margin-left: 934px;
}

#text p {
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

#second_text {
    width: 670px;
    height: 54px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    display: inline-block;
    margin-left: 934px; 
    margin-top: 62px;
}

#second_text p {
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18.29px;
    text-align: center;
    color: #211637;
}


#start {
    position: relative;
    width: 97%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0;
    text-align: right;
}

#project, #booking, #line, #button {
    display: inline-block;
    vertical-align: middle;

}

#booking{
    margin-bottom: 10px;
    margin-right: 10px;
}

#booking p{
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    text-align: left;
}

#button {
    width: 300px;
    height: 56px;
    background-color: rgba(240, 159, 12, 1);
    box-shadow: 0px 4px 20px rgba(125, 81, 3, 1);
    display: inline-block;

}

#button p {
    height: 30px;
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 19.5px;
    text-align: center;
    color: rgba(31, 31, 31, 1);
    text-transform: uppercase;
    vertical-align: text-top;

}

#line {
    margin-right: 5px;
    margin-left: 15px;
}

#second_block {
    margin-top: 165px;
    margin-left: 61px;
    position: relative;
    background-image: url(../img/shutterstock_1059416720.png);
    display: block;
    height: 797px;
}

#instruct {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    padding-top: 134px;
    padding-left: 359px;
    position: relative;
}

#goal, #tools, #solution {
    width: 370px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    height: 352px;
    margin-right: 30px;
}

#goal img {
    display: block;
    margin: 0 auto;

}

#tools img {
    display: block;
    margin: 0 auto;

}

#solution img {
    display: block;
    margin: 0 auto;

}

.title {
    font-family: var(--font-roboto);
    font-size: 16px;
    line-height: 23.4px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -moz-text-align-last: justify;
-ms-text-align-last: justify;
Text-align-last: justify;

}

#some{
    width: 60%;
}

h1 {
    font-family: var(--font-roboto);
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #F09F0C;
}

h1 span {
    color:white;
}

.top {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

#question {
    width: 574px;
    height: 537px;
    background-image: url(../img/Знак\ вопроса.png);
    display: block;
    position: absolute;
    bottom: 71%;
}

#scared {
    height: 100%;
    display: block;
    position: relative;
}

#light {
    width: 70%;
    height: 100%;
    background-image: url(../img/Свечение.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: 37%;
    right: 40%;
   
}

#men {
    width: 496px;
    height: 737px;
    background-image: url(../img/Мужчина.png);
    display: block;
    position: absolute;
    bottom: 37%;
    left: 15%;
}

#gradient{
    width: 100%;
    height: 197px;
    background: linear-gradient(180deg, #211637 0%, rgba(34, 24, 57, 0) 100%);
transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
}

#grad {
    height: 197px;
    width: 100%;
    background: linear-gradient(180deg, #211637 18.23%, rgba(34, 24, 57, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);


}

#gradic {
    position: absolute;
    width: 780px;
    height: 241px;
    background: linear-gradient(180deg, #211637 29.83%, rgba(34, 24, 57, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-top: 15%;
}

#list {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    margin-left: 45%;
    width: 545px;
    top: 87%;
}

ul {
    list-style-image: url('../img/Arrow.png');
    list-style-position: outside;
}

li {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    color: white;
    padding-bottom: 1.5rem;
}