body {
    background-color: red;
    min-width: 800px;
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-image: url(../img/Rectangle\ \(2\).png);
    background-repeat: no-repeat;
    height: 740px;
    background-color: white;
}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 18.68px;
    margin-left: 20%;
    position: relative;
}

.section {
    display: block;
    float: right;
    height: 45px;
    width: 45px;
    background-color: rgba(247, 101, 74, 1);
    margin-right: 330px;
    margin-top: 30px;  
}

.hamburger-button {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 28px;
    width: 21px;
    cursor: pointer;
    margin-left: 11px;
    margin-top: 14px;
  }
  
  .hamburger-button-top,
  .hamburger-button-middle,
  .hamburger-button-bottom {
    height: 2px;
    background: white;
    border-radius: 2px;
    margin: 5px 0px;
    transform-origin: left;
    transition: all 0.5s;
  }
  
.heading {
    width: 734px;
    height: 171px;
    display: inline-block;
    margin-top: 130px;
    margin-left: 420px;
}

:root {
    --font-roboto: 'Open Sans', sans-serif;
    --font-roboto: 'Oswald', sans-serif;
}

.heading p {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 64px;
    font-style: normal;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
    margin: 0px;
}

.subtitle {
    position: absolute;
    margin-top: 1%;
}

p.subtitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    position: relative;
}

.widget {
    display: inline-block;
    width: 60%;
    height: 300px;
    background-color: rgba(247, 247, 247, 1);
    margin-left: 20%;
    margin-top: 220px;
}

.one, .two, .three, .four {
    display: inline-block;
    position: inherit;
    width: 124px;
}

.one {
    margin-left: 15%;
}

.two {
    margin-left: 7%;
}

.three {
    margin-left: 7%;
}

.four {
    margin-left: 7%;
}

p.day {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(247, 101, 74, 1);
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 26px;
}

p.year {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53.35px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    display: inline-block;
    margin: 0px 0px 0px 8px;
}

p.meta {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(153, 153, 153, 1);
    display: inline-block;
    margin: 0px;
}

main {
    background-color: white;
    background-size: contain;
    height: auto;
    width: 100%;
    padding-bottom: 80px;
}

.top {
    margin-top: 252px;
    display: inline-block;
    margin-left: 35%;
}


h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: rgba(64, 65, 73, 1);
    text-transform: uppercase;
    margin: 0;
}

.first_pj {
    margin-left: 20%;
    margin-top: 40px;
    max-width: 350px;
    width: 300px;
    display: inline-block;
}

.image {
    background-image: url('../img/Rectangle\ 3.png');
    max-width: 350px;
    min-width: 250px;
    height: 380px;
}

.line {
    width: 55px;
    height: 6px;
    background-color: rgba(247, 101, 74, 1);
    margin-top: 45px;
}

.caption h3{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(64, 65, 73, 1);
    margin-top: 15px;
}

.content p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(153, 153, 153, 1);
}

.second_pj {
    display: inline-block;
    margin-left: 1%;
    margin-top: 40px;
    /* max-width: 350px; */
    width: 300px;
}

.third_pj {
    display: inline-block;
    margin-left: 1%;
    margin-top: 40px;
    max-width: 350px;
    width: 300px;
}

footer {
    width: 100%;
    height: 181px;
    background-color: rgba(247, 101, 74, 1);
}

.desc {
    margin-left: 20%;
    display: inline-block;
}

p.headline {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: white;
    margin-top: 35px;
    margin-bottom: 4px;
}

p.slogan {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 00.02em;
    color: white;
    margin: 0px;
}

.btn {
    width: 175px;
    height: 49px;
    background-color: white;
    float: right;
    margin-top: 5%;
    margin-right: 21%;
}

.btn img {
    margin-left: 30px;
    margin-top: 18px;
    display: inline-block;
}

.btn p{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: black;
    display: inline-block;
    position: absolute;
    margin-left: 15px;
}