body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: rgba(53, 70, 87, 1);
    background: rgba(255, 255, 255, 1);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

nav.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}

header {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(248, 244, 252, 1);
    position: relative;
    overflow: hidden;
}

/*логотип*/
.header_logo {
    display: block;
    float: left;
    margin-left: 16.46%;
    margin-top: 11px;
    margin-bottom: 48px;
    margin-right: 50px;
}

#menu {
    display: inline-block;
    width: 24%;
    margin-top: 28px;
    float: left;
}

#menu li {
    display: inline-block;
    margin-right: 50px;
}

#menu a {
    color: rgba(53, 70, 87, 1);
    font-family: 'Raleway', sans-serif;
    font-size: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
}

#menu li:last-child {
    margin-right: 0;
}

/* форма поиска */
.btn {
    background: rgba(248, 244, 252, 1);
    float: right;
    width: 25%;
    margin-top: 27px;
}

.btn form {
    height: 22px;
    width: 22px;
    display: inline-block;
    margin-right: 35px;
}


.btn input {
    height: 20%;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    position: absolute;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    top: 25%;
    right: 25%;
    z-index: 2;
 }

.btn input:focus {
        width: 200px;
        z-index: 1;
        border-bottom: 1px solid rgba(53, 70, 87, 1);
 }

.btn button {
    background: rgba(248, 244, 252, 1);
    border: none;
    width: 33px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.login,
.shopping-bag {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 37px;
}

main {
    width: 100%;
    margin-top: 4%;
    background-image: url(../img/BG.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    color: rgba(53, 70, 87, 1);
}

main>img {
    width: 43%;
    margin: 0 auto;
    margin-top: 2%;
}

article, .media {
    width: 43%;
    margin: 0 auto;
    margin-top: 2%;
}

p.content{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(53, 70, 87, 1);
}

.line {
    margin: 54px 0px;
    border-left: 4px solid rgba(148, 111, 211, 1);
    padding-left: 30px; /* Расстояние от линии до текста */
}

p.line {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(125, 125, 125, 1);
}

.quote {
    width: 47px;
    margin: 12px 0;
}

.border {
    border-bottom: 1px solid rgba(226, 226, 226, 1);
}

.media p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(53, 70, 87, 1);
}

footer {
    width: auto;
    position: relative;
    overflow: hidden;
}

.social-icons {
    display: block;
    float: left;
    padding-left: 204px;
    margin-right: 0px;
    width: 10%;
    margin-top: 28px;
}

.social-icons>li {
    display: inline-block;
    margin-left: -0.75rem;
    margin-right: 0.25rem;
}

  .social-icons a {
    position: relative;
    display: block;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

  .social-icons a:hover {
    background-color: #e0e0e0;
  }
  .social-icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .65rem;
    top: .65rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  .social-icons .social-icon-fb::before {
    background-image: url("../img/facebook.svg");
  }
  .social-icons .social-icon-instagram::before {
    background-image: url("../img/instagram.svg");
  }
  .social-icons .social-icon-youtube::before {
    background-image: url("../img/youtube.svg");
  }
  .social-icons .social-icon-in::before {
    background-image: url("../img/in.svg");
  }
  .social-icons .social-icon-pinterest::before {
    background-image: url("../img/pinterest.svg");
  }

  .footer_logo {
    float: right;
    position: relative;
    width: 130px;
    margin-top: 28px;
    margin-right: 220px;
}
